.container {
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  /* height: 12vh; */
}
.container ul {
  list-style: none;
}
.container ul:hover{
  cursor: pointer;
}
.social_links {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0;
  font-size: 25px;
}
.service_code {
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 10px 0;
}