.header_outer_container {
  background-color: #111;
  /* background: transparent; */
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  height:10vh ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5 ease;
 /* margin-bottom: 1rem; */
}
.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}
.header_left ul,
.header_right ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  cursor: pointer;
}
.header_right ul {
  font-size: 20px;
  gap: 40px;
}
